@model IEnumerable<LojaNinja.Dominio.Pedido>

@{
    ViewBag.titulo = "Listagem";
}

@if(TempData["alerta"] != null){
	<div id="alerta">
		<h3>O item foi excluido com sucesso</h3>
		<button type="button" onclick="hideAlertButton()" class="btn btn-warning">Fechar</button>
	</div>
}
<p>
    @Html.ActionLink("Cadastrar Novo", "Cadastro")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntregaDesejada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
		<th>
            @Html.DisplayNameFor(model => model.TipoPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
		<th>
            @Html.DisplayNameFor(model => model.PedidoUrgente)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntregaDesejada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
			<td>
                @Html.DisplayFor(modelItem => item.TipoPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
			
				@if (item.PedidoUrgente)
				{
					<td>
						Sim
					</td>
				}
				else
				{
					<td>
						Não
					</td>
				}
				
            
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Ver Detalhes", "Detalhes", new { id = item.Id }) |
                @Html.ActionLink("Remover", "Excluir", new { id = item.Id })
            </td>
        </tr>
    }
</table>