
@model PagedList.IPagedList<CdZ.MVC.Models.Cavaleiro.CavaleiroViewModel>
@using PagedList.Mvc;

<div id="content">
    <ul>
        @foreach (var cavaleiro in Model)
        {
            <li data-id-cavaleiro="@cavaleiro.Id">
                <span class="info">
                    @cavaleiro.Nome
                    <img src="@cavaleiro.UrlThumb" class="imagens-lista">
                </span>
                <span>
                    <button>
                        <a href="@Url.Action("Editar/" + @cavaleiro.Id)">
                            Editar
                        </a>
                    </button>
                </span>
                <span class="link-deletar">
                    <button data-id-cavaleiro="@cavaleiro.Id" onclick="excluirCavaleiro(this)">
                        <a>
                            Deletar
                        </a>
                    </button>
                </span>
            </li>
        }
    </ul>
    <div id="contentPager">
        @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
    </div>
</div>