@model LojaNinja.MVC.Models.Login.CadastroUsuarioModel

@{
    ViewBag.titulo = "Cadastro de usuario";
    TempData["Usuario"] = "Faça Login";
}

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@using (Html.BeginForm("Cadastrar", "Login", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

    <h3>Cadastre-se</h3>
    <hr />
    <div>
        @Html.ValidationSummary(excludePropertyErrors: false)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Nome) <br />
        @Html.TextBoxFor(m => m.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email) <br />
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Senha) <br />
        @Html.PasswordFor(m => m.Senha)
    </div>
    <div class="form-group">
        @Html.ActionLink("Login", "Index", "Login", new { @class = "btn btn-warning" })
        <input type="submit" value="Cadastrar" class="btn btn-danger" />
    </div>
}
