@model LojaNinja.MVC.Models.Login.CadastroUsuarioModel

@{ 
    ViewBag.titulo = "Cadastro de usuario";
}

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h3>Cadastre-se</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Email) <br />
                @Html.TextBoxFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Senha) <br />
                @Html.PasswordFor(m => m.Senha)
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>
</body>
</html>
